.container__smallPlaner {
  width: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}

.box__smallPlanner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.input__smallPlanner {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  line-height: 1.5;
  width: 400px;
}

.button__smallPlanner {
  font-size: 20px;
  line-height: 1.5;
  padding: 10px 20px;
  background-color: #e3e3e3;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #d3d3d3;
  }

  &:active {
    background-color: #e3e3e3;
  }
}

.ul__smallPlanner {
  padding: 0;
  margin: 0;
}

.li__smallPlanner {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.5;
}

.li__smallPlanner--box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

.checkbox__smallPlanner {
  cursor: pointer;
}